<extend name="Public/base"/>
<block name="main">
<div class="mainbar">

				<!-- Page heading -->
				<div class="page-head">
					<h2 class="pull-left"><i class="icon-calendar"></i>商品分类</h2>
					<!-- Breadcrumb -->
					<div class="bread-crumb pull-right">
						<a href=""><i class="icon-calendar"></i>商品分类</a>
						<!-- Divider -->
						<span class="divider">/</span>
						<a href="{:U('category/insert')}" class="bread-current">添加分类</a>
					</div>
					<div class="clearfix"></div>

				</div>
				<!-- Page heading ends -->

				<!-- Matter -->
				<div class="matter">
					<div class="container">
						<!-- Table -->
						<div class="row">
							<div class="col-md-12">
								<div class="widget">
									<div class="widget-head">								
										<div class="pull-left">
											
										</div>
										<div class="pull-right">
											<form class="navbar-form navbar-right" role="search">											
												<div class="form-group">
													<button onclick="window.open('{:U("insert")}')" type="button" class="btn btn-primary" style="width: 80px;"><i class="icon-plus"></i>&nbsp;添加</button>
												</div>
											</form>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="widget-content">
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>												
													<th>序号</th>
													<th>分类名称</th>
													<th>分类层级</th>
													<th>排序</th>
													<th>状态</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
                                                <volist name="cateList" id="cate">

                                                <tr cid="{$cate['cate_id']}" pid="{$cate['parent_id']}" path="{$cate['path']}" style='display:<if condition="$cate['path'] gt 1">none;</if>'>	
                                                    <td>{$cate['cate_id']}</td>					
													<td class="text-left">{:str_pad('',6*($cate['path']-1)*4, '&nbsp;')}{$cate['cate_name']}</td>
													<td>{$cate['path']}</td>
                                                    <td>{$cate['sort_order']}</td>
                                                    <td>{$cate['is_delete']}</td>
													<td>								
														<a class="btn btn-xs btn-warning" href="{:U('update?id='.$cate['cate_id'])}"><i class="icon-pencil"></i>&nbsp;编辑</a>
														<a class="btn btn-xs btn-danger" href="{:U('delete?id='.$cate['cate_id'])}"><i class="icon-remove"></i>&nbsp;删除</a>										
													</td>
												</tr>
                                                </volist>
											</tbody>
										</table>
									</div>
								
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Matter ends -->
			</div>
</block>
<block name="javascript">
<script type="text/javascript">
	/*
	$(function() {
		$('tr[cid]').bind('click', function() {
			// 获取当前分类ID
			// var cid = $(this).attr('cid');
			// var pid = $(this).attr('pid');
			// if($('tr[pid='+cid+']').is(':hidden')) {
			// 	// 显示的时候, 是让所有的子分类显示
			// 	$('tr[pid='+cid+']').css('display', 'table-row');
			// } else {
			// 	// 隐藏的时候, 是让所有的后代元素都隐藏
			// 	// $('tr[pid='+cid+']').length>0 一定含有子元素
			// 	// $(this).nextUntil('tr[pid='+pid+']').length>0  当前元素后面有兄弟节点
			// 	// 获取当前元素后是否含有兄弟节点
			// 	// console.log($(this).nextAll('tr[pid='+pid+']').length); // 0
			// 	if($('tr[pid='+cid+']').length>0 && $(this).nextUntil('tr[pid='+pid+']').length>0) {
			// 		if($(this).nextAll('tr[pid='+pid+']').length==0) {
			// 			$('tr[pid='+cid+']').css('display', 'none');
			// 		} else {
			// 			$(this).nextUntil('tr[pid='+pid+']').css('display', 'none');
			// 		}
			// 	}
			// }
			toHidden($(this));
		});
	})

	// 显示 -> 子元素显示
	// 隐藏 -> 后代元素隐藏
	function toHidden($selector, type) {
		// tr cid pid
		var cid = $selector.attr('cid');
		var pid = $selector.attr('pid');
		// 遍历所有的子元素
		$('tr[pid='+cid+']').each(function() {
			// 判断当前元素是显示的还是隐藏的
			if($(this).is(':hidden') && !type) {
				$(this).css('display', 'table-row');
			} else {
				toHidden($(this), true);
				$(this).css('display', 'none');
			}
		});
	}*/

	$('tr[cid]').bind('click', function(e, type) {
		var cid = $(this).attr('cid');
		var pid = $(this).attr('pid');
		// 遍历所有的子元素
		$('tr[pid='+cid+']').each(function() {
			// 判断当前元素是显示的还是隐藏的
			if($(this).is(':hidden') && !type) {
				$(this).css('display', 'table-row');
			} else {
				// 触发当前tr的点击事件
				$(this).trigger('click', true);
				$(this).css('display', 'none');
			}
		});
	});
</script>
</block>
