<volist name="goodsList" id="goods">
            <li class="item">
                <div class="BasicInfo">
                    <div class="hearImg" style="height:200px">
                        <img src="__UPLOAD__/{$goods['goods_thumb']}" width="50%" height="50%"/>
                        <div class="posion" style="top:60px"><img src="__IMG__/singer6.png"/></div>
                    </div>
                    <div class="right">
                        <div class="singerNmae">
                            <span class="daimio">{$goods['goods_name']}</span>
                            <span class="intro"></span>
                            <div class="label">
                                <em>流行</em><em>R&B </em><em>中国风</em>
                            </div>
                            <div class="order2">
                               <a href="#">预约</a>
                            </div>
                        </div>
                        <div class="Price">
                            <div class="money">￥5万<span>/场</span> <s style="font-size:12px; color:#999;">￥5万/场</s></div>
                        </div>
                    </div>
                </div>
            </li>
            </volist>