<extend name="Public/base"/>
<block name="main">
<div class="mainbar">

				<!-- Page heading -->
				<div class="page-head">
					<h2 class="pull-left"><i class="icon-calendar"></i>权限管理</h2>
					<!-- Breadcrumb -->
					<div class="bread-crumb pull-right">
						<a href=""><i class="icon-calendar"></i>权限管理</a>
						<!-- Divider -->
						<span class="divider">/</span>
						<a href="javascript:void(0)" class="bread-current">权限管理</a>
					</div>
					<div class="clearfix"></div>

				</div>
				<!-- Page heading ends -->

				<!-- Matter -->
				<div class="matter">
					<div class="container">
						<!-- Table -->
						<div class="row">
							<div class="col-md-12">
								<div class="widget">
									<div class="widget-head">								
										<div class="pull-left">
											
										</div>
										<div class="pull-right">
											<form class="navbar-form navbar-right" role="search">											
												<div class="form-admin">
													<button onclick="window.open('{:U("insert")}')" type="button" class="btn btn-primary" style="width: 80px;"><i class="icon-plus"></i>&nbsp;添加</button>
												</div>
											</form>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="widget-content">
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>												
													<th>UID</th>
													<th>昵称</th>
													<th>最后登陆时间</th>
													<th>最后登陆IP</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
                                                <volist name="adminList" id="admin">
                                                <tr>	
                                                    <td>{$admin['admin_id']}</td>											
													<td>{$admin['admin_name']}</td>
													<td>{$admin['admin_time']}</td>
													<td>{$admin['last_ip']|long2ip}</td>
													<td>								
														<a class="btn btn-xs btn-warning" href="{:U('access?id='.$admin['admin_id'])}"><i class="icon-pencil"></i>&nbsp;解除授权</a>
													</td>
												</tr>
                                                </volist>
											</tbody>
										</table>
										<div class="widget-foot">
											<div class="col-md-offset-8 col-md-4 text-right">
											<form class="form-inline">
												<div class="form-group">
												<input type="text" class="form-control" id="id" placeholder="请输入管理员ID" style="display:inline">
												</div>
												<div class="form-group">
													<button type="button" onclick="insertMember()" class="btn btn-primary" >新增</button>
												</div>
											</form>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Matter ends -->
			</div>
</block>
<block name="javascript">
	<script type="text/javascript">
		function insertMember() {
			var value = $('#id').val();
			var group_id='{$id}';
			$.post('{:U("insertMember")}', {group_id:group_id, content:value}, function(data) {
				if(data.status) {
					$('#id').val('');
					// 页面重载
					location.reload();
				} else {
					alert(data.info);
				}
			});
		}
	</script>
</block>

